<div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="/static/images/pt4.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title mb-3">အာစရိယပူဇော်ပွဲ အခမ်းအနား</h6>
                                <p class="card-text">ပန်းတိုင်ကိုယ်ပိုင်အထက်တန်းကျောင်း ဆရာကြီး/ဆရာမကြီးများအား ကျောင်းသားဟောင်းများမှ ကန်တော့ပူဇော်ခဲ့ကြသည်။</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="/static/images/pt2.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title mb-3">ဆယ်နှစ်ပြည့် အထိမ်းအမှတ်</h6>
                                <p class="card-text">ပန်းတိုင်ကိုယ်ပိုင်အထက်တန်းကျောင်း တည်ထောင်ခဲ့သည်မှာ ၁၀နှစ်ပြည့်မြောက်ခဲ့ပြီဖြစ်၍ အထိမ်းအမှတ်ပွဲအား ကျောင်းသားဟောင်းများနှင့် ကျင်းပခဲ့သည်</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="/static/images/pt5.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title mb-3">2017 ၏ အာစရိယပူဇော်ကန်‌တော့ပွဲ.</h6>
                                <p class="card-text">တတိယအကြိမ်မြောက် ပြုလုပ်သည့် ပန်းတိုင် ကိုယ်ပိုင်အထက်တန်းကျောင်း ကျောင်းသား/သူဟောင်းများ၏ အာစရိယပူ‌ဇော်ပွဲတွင် အမှတ်တရ</p>
                            </div>
                        </div>
                    </div>

</div>